@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@300&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    max-width: 960px;
    margin: auto;
    line-height: 1.4em;
}

p .fa,
p .fab {
    margin-bottom:3px;
    font-size:16px;
    color:cornflowerblue
}

p a{
    font-size:13px;
    text-decoration: none;
    color: #326bf3;
    transition: all 0.5s;
}

p a:hover{
  color:#004cff;
  text-shadow: 3px 3px 4px rgba(150, 150, 150, 0.4);
}

.socials{
    display:flex;
    align-items: center;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 3.1em;
    letter-spacing: .15em;
    padding-top: 1em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
    border-bottom:1px solid #e6e6e6
}
main { 
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 3em;
}
header {
    text-align: center;
    margin: auto 2em;
}

section {
    margin: auto 1em 4em 2em;
}

i {
    margin-right: .3em;
}

hr {
    border: none;
    background-color: lightgray;
    height: 1px;
}

h1, h2 {
    font-weight: 500;
    margin-bottom: 0;
}

li{
    margin-bottom: .5em;
    font-size: 13px;
    list-style-type:circle;
}

#mainLeft {
    border-right: 1px solid lightgray;
 }

 table {
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
  }

  th{
      font-weight: 900;
      text-decoration: underline;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #f3f3f3;
  }

  @media only screen and (max-width: 600px) {
      h1{
          line-height: 50px;
      }

      main{
          display:flex;
          flex-direction: column-reverse;
      }

      section {
          margin: auto 1em 2em 2em;
      }
  }